
  <img class="avatar mat-elevation-z8" src="https://ca.slack-edge.com/T0AB5990V-U02B05ASATS-8f2f3e74282d-512" />

  <h4 class="name">Felipe Zanfolim</h4>
  <p class="designation">Product Engineer</p>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button" [routerLink]="['']">
      <mat-icon class="icon">home</mat-icon>
      <span>Listar</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="['/add']">
      <mat-icon class="icon">person</mat-icon>
      <span>Adicionar</span>
  </button>

  <mat-divider></mat-divider>
